.App{
  display: flex;
  justify-content: center;
  width: 100vw;
  background: #131313;
  /*border: 1px solid red;*/
  height: 100%;
}

a:link{
  text-decoration: none;
}

a:visited{
  color: inherit;
}

*{
  margin: 0;
}

.the-header{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.my-nav{
  font-size: 1.5rem;
  width: 100vw;
  align-items: center;
  /*border: 1px solid crimson;*/
  display: flex;
  justify-content: space-evenly;
  color: #dadada;
  margin-bottom: 7rem;
}

.my-btn{
  border: none;
  font-size: 1.5rem;
  color: floralwhite;
  padding: .8rem;
  border-radius: .5rem;
  background: #307c51;
  margin-top: 2.5rem;
}

.my-btn:hover{
  color: #131313;
  cursor: pointer;
}

.my-btn:active{
  color: #181616;
  background: #286944;
}

.prompt-comp{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
  width: 85%;
  height: 15%;
  /*border: 1px solid crimson;*/
}

.title-and-input{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*border: 1px solid green;*/
  width: 90%;
  height: 100%;
}

.title-and-input > p{
  margin-bottom: .5rem;
}

.logo{
  width: 35%;
  margin-bottom: 2rem;
  margin-top: 5rem;
  /*border: 1px solid crimson;*/
}

.prompt-title{
  color: #2e67e0;
  /*border: 1px crimson solid;*/
  width: 75%;
  font-size: 1.8rem;
}

.prompt-input{
  width: 95%;
  height: 40%;
  border-radius: .8rem;
  border: none;
}

input{
  color: #565656;
  font-size: 1.5rem;
  padding-left: 30px;
}

